/*reset*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*All*/
body {
    font-family: 'Ubuntu', sans-serif;
    /* background-color: $colorPrimary; */
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

button {
    box-shadow: none;
}

p {
    line-height: 1.5;
}