.features_intro {
    width: 100%;
    text-align: center;
    padding: 60px 0;
    line-height: $lineH;
    h2 {
        font-size: $fontMedium;
        color: black;
        margin-bottom: 9px;
    }
    p {
        color: black;
        font-size: $fontParag;
        display: inline-block;
        width: 67%;
        margin-bottom: 9px;
    }

}