.header_top {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-weight: bold;
    font-size: $fontSmall;

    &__logo {
        display: flex;
        align-items: center;
        padding: 0 20px;

        .logo__img_wrap {
            width: 24px;
        }

        span {
        color: $colorLogoAdobe;
        font-size: $fontParag;
        font-weight: bold;
        margin-left: 8px;
        }
    }


    &__menu {
        ul {
            display: flex;
            align-items: center;

            li {
                padding: 0px 20px;
                height: 60px;
                display: flex;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: #F5F5F5;
                }
            }
        }
    }

    &__find {
        a:hover {
            color: $colorPrimary;
        }
    }

}