$colorPrimary: #1473e6;
$colorPrimaryDark: #0d66d0;
$textPrimary: #2C2C2C;
$colorLogoAdobe: #FA0F00;
$colorBtnSmall: #505050;
$fontExtraBig: 44px;
$fontBig: 22px;
$fontMedium: 36px;
$fontSmall: 14px;
$fontParag: 18px;
$btnRadius: 16px;
$lineH: 1.5;